<%- include ("header") %>

    <form action="/anadir" method="post" class="container-sm mt-5">
        <!-- <div class="mb-3">
          <label for="nom" class="form-label">nom</label>
          <input type="text" class="form-control" name="nom" id="nom" required>
          <div  class="form-text">Insert the name of your product</div>
        </div>
        <div class="mb-3">
            <label for="preu" class="form-label">preu</label>
            <input type="number" class="form-control" name="preu" id="preu" min="0" required>
            <div class="form-text">Insert the price for the new product</div>
          </div>
        <button type="submit" class="btn btn-primary ">Submit</button> -->

        <label for="usuaris">Eligeix un usuari: </label>

          <select name="usuari" id="usuari">
            <% usuari.forEach((msg, usuaris)=>{ %>

              <option value="<%= msg.id %>"><%= msg.nom %></option>
            
            <% })   %>
          </select>

          <label for="productes">Eligeix un producte:</label>

          <select name="producte" id="producte">
            <% producte.forEach((msg, productes)=>{ %>

              <option value="<%= msg.id %>"><%= msg.nom %></option>
            
            <% })   %>
          </select>
          <button type="submit" class="btn btn-primary ">Crear</button>
      </form>
<%- include("footer")%>