<%- include ("header") %>


  <h2>Comanda: </h2>
  <ul>
    <li>Nombre: <%= comanda.nom%></li>
    <li>Producto: <%= comanda.nom_producte%></li>
    <li>Precio: <%= comanda.preu_producte%></li>
  </ul>


<%- include("footer")%>