<%- include ("header") %>

<% comandes.forEach((comanda, posicion)=>{ %>

  <p class="border border-primary rounded p-3 bg-light text-dark">Comprador: <%= comanda.nom %>
    Producto:  <%= comanda.nom_producte %>
    <a class="btn btn-primary" href="/comanda?id=<%=comanda.id%>">Ver Detalles</a>
  </p>

<% })   %>



<%- include("footer")%>