<%- include ("header") %>


  <h2>Comanda: </h2>
  <ul>
    <li><%= comanda.nom%></li>
    <li><%= comanda.nom_producte%></li>
    <li><%= comanda.preu_producte%></li>
  </ul>


<%- include("footer")%>