<%- include ("header") %>

<% msgs.forEach((msg, producte)=>{ %>

  <p class="border border-primary rounded p-3 bg-light text-dark">
    <%= msg.nom %> <%= msg.preu %>
    <a class="btn btn-primary"  href="/editProducte?id=<%=msg.id%>"> Editar Producte</a>
    
  </p>
  

<% })   %>

  <a href="/anadirProducte" class="btn btn-primary">Crear nou producte</a>

<%- include("footer")%>